node_modules/**
**/build/
**.tsbuildinfo
!packages/build

**.vs
**.sln
**.vcxproj
**.vcxproj.user
**Makefile
**.make
**.ninja
**.ninja_log
**.ninja_deps

**/bin
**/bin-int
**/obj

examples/ConjureCache/**
examples/dependencies/**